<!doctype html>
<html lang="en">
<head>
    <title>Explore anthropogenic phenomena!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../css/simplePagination.css"/>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="../js/jquery.simplePagination.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/imgareaselect-default.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.imgareaselect.pack.js"></script>
    <style>
        #map {
            width: 100%;
            height: 700px;
            padding: 0;
            margin: 0;
        }
    </style>

    <script>

        const requestId = "<%= requestId %>";
        let elementDiv = $('<div/>', {
            class: 'col-lg-5',
        });

        let ias = null;
        let options =
        {
            handles: true,
            onSelectEnd: selectCoord,
            instance: true,
            movable: true,
            resizable: false,
            maxHeight: 100,
            maxWidth:  100,
            minWidth:  100,
            minHeight: 100,
        };

        $( document ).ready(function() {
            $(".target").change(function() {
                let val = $(this).val();
                if (val === '3') {
                    options.maxHeight = 100;
                    options.maxWidth = 100;
                    options.minHeight = 100;
                    options.minWidth = 100;
                }
                if (val === '5') {
                    options.maxHeight = 167;
                    options.maxWidth = 167;
                    options.minHeight = 167;
                    options.minWidth = 167;
                }
                if (val === '10') {
                    options.maxHeight = 334;
                    options.maxWidth = 334;
                    options.minHeight = 334;
                    options.minWidth = 334;
                }
                if (val === '30') {
                    options.maxHeight = 1000;
                    options.maxWidth = 1000;
                    options.minHeight = 1000;
                    options.minWidth = 1000;
                }

                ias.setOptions(options);
                ias.update();
                ias.cancelSelection();
            });
        });

        function selectCoord(img, selection) {
            if (!selection.width || !selection.height) {
                return;
            }


            $('#width').val(selection.width);
            $('#height').val(selection.height);

            let lowerLeftLatitude = geoCoords[0];
            let lowerLeftLongitude = geoCoords[1];
            let upperRightLatitude = geoCoords[2];
            let upperRightLongitude = geoCoords[3];

            const geoWidth = Math.sqrt(Math.pow(lowerLeftLongitude - upperRightLongitude, 2));
            const geoHeight = Math.sqrt(Math.pow(lowerLeftLatitude - upperRightLatitude,2));

            //движение на 1 пиксель по горизонтали на изображении дает смещение на столько координат по горизонтали
            const horizontalDelta = geoWidth / img.naturalWidth;
            const verticalDelta = geoHeight / img.naturalHeight;

            let leftUpperLongtitude = Number(geoCoords[1]) + Number(horizontalDelta * selection.x1);
            let leftUpperLatitude = Number(geoCoords[2]) - Number(verticalDelta * selection.y1);
            let rightLowerLongtitude = Number(geoCoords[1]) + Number(horizontalDelta * selection.x2);
            let rightLowerLatitude = Number(geoCoords[2]) - Number(verticalDelta * selection.y2);

            $('#leftUpperLongtitude').val(leftUpperLongtitude);
            $('#leftUpperLatitude').val(leftUpperLatitude);
            $('#rightLowerLongtitude').val(rightLowerLongtitude);
            $('#rightLowerLatitude').val(rightLowerLatitude);



            console.log(geoCoords);
            console.log(rightLowerLatitude, leftUpperLongtitude, leftUpperLatitude, rightLowerLongtitude);
        }

        let geoCoords = [];


        $.ajax({
            type: 'GET',
            url: `/research/${requestId}/details`,

            success: function (data) {
                $('.content').empty();
                if (data.code === 200) {

                    if (data.data.phenomenonResultFolder) {
                        const phenomenonFolder = `${data.data.phenomenonResultFolder.split('external\\')[1]}`;
                        const phenomenonName = phenomenonFolder +'\\visible_dynamic.png';
                        elementDiv.append(`<figure class="sign"><p><img src="../${phenomenonName}" id="phenomenon" alt="Lights" ></p><figcaption>Динамика распространения явления</figcaption></figure>`);


                        $('.content').append(elementDiv);


                        ias = $('img#phenomenon').imgAreaSelect(options);

                        geoCoords = data.data.coordinateUser;

                        const channels_432 = phenomenonFolder + '\\visible4-3-2.png';
                        const channels_543 = phenomenonFolder + '\\visible5-4-3.png';
                        const channels_753 = phenomenonFolder + '\\visible7-5-3.png';

                        if(data.data.researchName === 'Болезни лесных насаждений'){
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_432}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 4-3-2</figcaption></figure>`);
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_753}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 7-5-3</figcaption></figure>`);
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_543}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 5-4-3</figcaption></figure>`);
                        }
                        else if(data.data.researchName === 'Эрозия почвы'){
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_432}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 4-3-2</figcaption></figure>`);
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_753}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 7-5-3</figcaption></figure>`);
                        }
                        else if(data.data.researchName === 'Загрязнение почвы нефтепродуктами'){
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_432}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 4-3-2</figcaption></figure>`);
                        }
                        else if(data.data.researchName === 'Поверхностные свалки'){
                            elementDiv.append(`<figure class="sign"><p><img src="../${channels_432}" alt="Lights" width="1000" height="1000"></p><figcaption>Каналы 4-3-2</figcaption></figure>`);
                        }



                        const template = `${data.data.phenomenonResultFolder.split('external\\')[1].split('\\phenomenon')[0]}\\characteristics\\`;

                        var characteristicName = template + `temperature\\temperature.png`;  //width="1000" height="1000"
                        elementDiv.append(`<figure class="sign"><p><img src="../${characteristicName}" alt="Lights" width="1000" height="1000"></p><figcaption>Температура</figcaption></figure>`);
                        characteristicName = `${data.data.phenomenonResultFolder.split('external\\')[1].split('\\phenomenon')[0]}\\characteristics\\digitalReliefModel\\exposition.png`;
                        elementDiv.append(`<figure class="sign"><p><img src="../${characteristicName}" alt="Lights" width="500" height="500"></p><figcaption>Экспозиция рельефа</figcaption></figure>`);
                        characteristicName = `${data.data.phenomenonResultFolder.split('external\\')[1].split('\\phenomenon')[0]}\\characteristics\\digitalReliefModel\\height.png`;
                        elementDiv.append(`<figure class="sign"><p><img src="../${characteristicName}" alt="Lights" width="500" height="500"></p><figcaption>Высота рельефа</figcaption></figure>`);
                        characteristicName = `${data.data.phenomenonResultFolder.split('external\\')[1].split('\\phenomenon')[0]}\\characteristics\\digitalReliefModel\\skew.png`;
                        elementDiv.append(`<figure class="sign"><p><img src="../${characteristicName}" alt="Lights" width="500" height="500"></p><figcaption>пока не знаю что это</figcaption></figure>`);
                        characteristicName = `${data.data.phenomenonResultFolder.split('external\\')[1].split('\\phenomenon')[0]}\\characteristics\\ndwi\\ndwi.png`;
                        elementDiv.append(`<figure class="sign"><p><img src="../${characteristicName}" alt="Lights" width="1000" height="1000"></p><figcaption>Индекс влажности</figcaption></figure>`);
                    }
                }
        else {
        alert('Ошибка авторизации');
        }
    },
    error: function (err) {
                console.log(err)
                alert('Ошибка получения информации по иследованию');
            }
    });

</script>

</head>
<body>
<% include partials/headerNavigation.ejs %>

<div class="container-fluid">
    <h1> Мои исследования</h1>
    <h2>Выберите исследуемое явление и область, в которой будет осуществлен поиск характеристик.</h2>
    <h2 class=".status"></h2>
</div>
<form action="/dynamic/createCharacteristics" method="post">
    <div class="form-group">
        <label for="sel1">Выберите размер области:</label>
        <select class="form-control target" name="cloudMax" id="size">
            <!--<option>0</option>-->
            <option value="3" selected="selected">3х3 км</option>
            <option value="5">5х5 км</option>
            <option value="10">10х10 км</option>
            <option value="30">30х30 км</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sel1">Выберите природное явление:</label>
        <select class="form-control" name="research" id="sel1">
            <option>Болезни лесных насаждений</option>
            <!--Aqua, Terra (MODIS), LandSat (OLI/TIRS), Sentinel-->
            <option>Эрозия почвы</option><!--Aqua, Terra (MODIS), LandSat (OLI/TIRS), Sentine-->
            <option>Загрязнение почвы нефтепродуктами</option>
            <!--Aqua, Terra (MODIS), LandSat 8 (OLI/TIRS), Sentinel-->
            <option>Поверхностные свалки</option><!--Aqua, Terra (MODIS), LandSat (OLI/TIRS), Sentinel-->
        </select>
        <input type="hidden" id="leftUpperLongtitude" name="leftUpperLongtitude" value="">
        <input type="hidden" id="leftUpperLatitude" name="leftUpperLatitude" value="">
        <input type="hidden" id="rightLowerLongtitude" name="rightLowerLongtitude" value="">
        <input type="hidden" id="rightLowerLatitude" name="rightLowerLatitude" value="">
        <input type="hidden" id="width" name="width" value="">
        <input type="hidden" id="height" name="height" value="">
        <input type="hidden" id="request" name="request" value="<%= requestId %>">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Получить характеристики</button>
    </div>
</form>

<div class="col-md-8">
    <div class="card mb-4 box-shadow">
        <div class="content">
        </div>
    </div>
</div>


</body>
</html>